<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>possearchproducts</name>
    <displayName><![CDATA[Pos search products by category ]]></displayName>
    <version><![CDATA[1.7]]></version>
    <description><![CDATA[Adds a quick search field categories to your website.]]></description>
    <author><![CDATA[Posthemes]]></author>
    <tab><![CDATA[Search and filter]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>