@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');

@CHARSET "UTF-8";


.amzconfig .carousel {
    max-width: 480px;
    width: 480px; 
}
.amzconfig .carousel .item {
	text-align: center;
} 
.amzconfig .carousel .item img {
	margin: 0 auto;
}

#amzconfigarea #fieldset_0,
#amzconfigarea #fieldset_1_1,
#amzconfigarea #fieldset_2_2,
#amzconfigarea #fieldset_3_3,
#amzconfigarea #fieldset_4_4,
#amzconfigarea #fieldset_5_5,
#amzconfigarea #fieldset_6_6,
#amzconfigarea #fieldset_7_7,
#amzconfigarea #fieldset_8_8,
#promobanners,
#amzconfigarea #advancedconfig,
#videonotification, 
#videoURLs,
#returnedurl,
.validationnotificationvideo,
.validationnotificationvideo2,
#videoaccesskeys,
#amzVersionChecker,
#jsonerror,
#waitforverification,
#missingerror {
	display: none;
}

#returnedurl {
	margin-left: 45px;
}

.grouping {
	font-weight: bold;
	padding-left: 11px;
}

#amzconfigarea .control-label {
	padding-left: 45px;
	text-align: left;
}
#TYPE_PAY_BUTTON_IMG,
#TYPE_LPA_BUTTON_IMG,
#AMZ_PROMO_HEADER_STYLE_IMG,
#AMZ_PROMO_PRODUCT_STYLE_IMG,
#AMZ_PROMO_FOOTER_STYLE_IMG {
	padding-left: 45px;
	margin-top: 10px;
	display: inline-block;
	max-width: 100%;
}

button[name=submitAmzpaymentsModuleConnect] {
	margin-top: 10px;
}
#amzconnect input[readonly] {
	width: 30%;
	display: inline;
}
.ipnurl {
	margin-top: 34px;
}
.ipnurl,
.originandallowed {
	margin-bottom: 35px;
}

#amzconfigarea .modal-lg {
	width: 1100px;
}
#amzconfigarea .modal-lg img {
	max-width: 100%;
}

#amzIntroduction ol {
    counter-reset: li; /* Initiate a counter */
    list-style: none; /* Remove default numbering */
    *list-style: decimal; /* Keep using default numbering for IE6/7 */    
    padding: 0;
    margin-bottom: 4em;
}
#amzIntroduction ol li {
	min-height: 3em;
}
#amzIntroduction ol li span {
    position: relative;
    display: block;
    padding: .4em .4em .4em 3.7em;
    *padding: .4em;
    margin: 1.5em 0;    
    text-decoration: none;
    border-radius: .3em;
    transition: all .3s ease-out;   
   }
#amzIntroduction ol li span:before {
	font-size: 12px;
    content: counter(li);
    counter-increment: li;
    position: absolute; 
    left: 0;
    top: 50%;
    margin-top: -1.5em;
    background: #fff;
    height: 3em;
    width: 3em;
    line-height: 2.4em;
    color: #f59900;
    border: .3em solid #f59900;
    text-align: center;
    font-weight: bold;
    border-radius: 3em;
    transition: all .3s ease-out;
}
a.registerButton {
	border: 1px solid #c2a147;
	color: #000;
	line-height: 2.7em;
	padding-left: 1.5em; 
	padding-right: 1.5em;
	text-align: center;
	display: inline-block;
	background: #feeaad; /* Old browsers */
	background: -moz-linear-gradient(top, #feeaad 0%, #f9ca49 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #feeaad 0%,#f9ca49 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #feeaad 0%,#f9ca49 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feeaad', endColorstr='#f9ca49',GradientType=0 ); /* IE6-9 */	
}
a.registerButton:hover {
	color: #000;
}
.amzTick:after {
	content: "\2713"; 
	width: 15px;
	height: 15px;
	color: #f59900;
	display: inline-block;
}
.amz_integration_video_yt {
	margin-top: 15px;
}
#jsonMWS {
	width: 50%;
}
.responsive-video iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.responsive-video {
	position: relative;
	padding-bottom: 56.25%; /* Default for 1600x900 videos 16:9 ratio*/
	padding-top: 0px;
	height: 0;
	overflow: hidden;
}
.amz_illustration {
	max-width: 600px; 
}
.amz_illustration img {
	width: 100%;
	height: 100%;
	max-width: 600px;
	border-radius: 10px;
}

.has-warning {
	
}