.pres-qs-forgot-password {
    color: #727173;
    font-family: "Open Sans";
    padding: 100px 0;
    font-size: 13px;
    line-height: 1.4;
}
.ps_back-office #content{
    position: relative;
}
#pres_qs_forgot_password{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9;
    display: block;
}
#pres_qs_forgot_password .forgot_password_dialog{
    left: calc(50% + 100px);
    transform: translateX(-50%);
    position: fixed;
    top: 100px;
}
.pres-qs-forgot-password .login-box-wrap {
    padding-top: 40px;
    padding-bottom: 55px;
    width: 560px;
}
.pres-qs-forgot-password .login-box-wrap #login-error-message {
    color: #e74c3c;
    font-size: 13px;
}
.pres-qs-forgot-password .login-box-wrap input.txt-input.invalid {
    border: 1px solid #e74e3f;
    color: #e74e3f;
}
.pres-qs-forgot-password .login-box-wrap {
    background: #fff;
    max-width: 560px;
    margin: 0 auto;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.22);
    border-radius: 3px;
}
.pres-qs-forgot-password .resetEmailSuccess {
    padding: 0 65px;
    display: none;
}
.pres-qs-forgot-password .resetEmailSuccess .msgIcon {
    float: left;
    margin-top: 4px;
}
.pres-qs-forgot-password .resetEmailSuccess .msgDetail {
    margin-left: 105px;
}
.pres-qs-forgot-password .resetEmailSuccess .msgDetail .title-block {
    margin-bottom: 28px;
}
.pres-qs-forgot-password .resetEmailSuccess .msgDetail .title-block .title {
    font-weight: 300;
    font-size: 24px;
    margin-bottom: 8px;
}
.pres-qs-forgot-password .resetEmailSuccess .msgDetail .title-block .desc {
    font-size: 15px;
    opacity: 0.8;
}
.pres-qs-forgot-password .resetEmailSuccess .msgDetail .btnCancel {
    border: 1px solid #E4E5E7;
    background: #F7F9FA;
    padding: 0 18px;
    height: 39px;
    line-height: 37px;
    font-size: 14px;
    color: #727173;
    border-radius: 3px;
    float: left;
    text-decoration: none;
}
.pres-qs-forgot-password .resetEmailSuccess .msgDetail .btnCancel:hover {
    background: #e7edf0;
}
.pres-qs-forgot-password .login-box {
    padding: 0 65px;
}
.pres-qs-forgot-password .login-box .login-logo {
    text-align: center;
    padding-top: 35px;
    padding-bottom: 20px;
}
.pres-qs-forgot-password .login-box .title-block {
    margin-bottom: 28px;
}
.pres-qs-forgot-password .login-box .title-block h3.title {
    font-weight: 300!important;
    padding:0!important;
    height:auto!important;
    border:none!important;
    font-size: 24px!important;
    margin: 0 0 8px 0!important;
    font-family:"Open Sans";
    text-transform:none!important;
}
.pres-qs-forgot-password .login-box .title-block .desc {
    font-size: 15px;
}
.pres-qs-forgot-password .login-box .login-form .form-field {
    display: table;
    width: 100%;
    margin-bottom: 14px;
}
.pres-qs-forgot-password .login-box .login-form .form-field.submit-field {
    margin-bottom: 25px;
    margin-top: 19px;
}
.pres-qs-forgot-password .login-box .login-form .form-field.error-field {
    margin-top: -22px;
    margin-bottom: 4px;
    display: none;
    color: #e74c3c;
    font-size: 13px;
}
.pres-qs-forgot-password .login-box .login-form .label-field {
    font-size: 12px;
    font-weight:600;
    margin-bottom: 6px;
}
.pres-qs-forgot-password .login-box .login-form input.txt-input {
    height: 42px;
    border: 1px solid #e4e5e7;
    border-radius: 3px;
    padding: 0 19px;
    font-size: 13px;
    background: #fff;
    width: 100%;
    font-family: "Open Sans";
}
.pres-qs-forgot-password .login-box .login-form input.txt-input.invalid {
    border: 1px solid #e74c3c;
}
.pres-qs-forgot-password .login-box .login-form button.btnSubmit {
    background: #3498db;
    width: 124px;
    text-align: center;
    border: none;
    height: 39px;
    padding: 10px 5px;
    line-height: 18px;
    font-size: 14px;
    color: #fff;
    border-radius: 3px;
    float: right;
    position: relative;
}
.pres-qs-forgot-password .login-box .login-form button.btnSubmit:before {
    width: 22px;
    height: 22px;
    content: '';
    position: absolute;
    left: calc(50% - 11px);
    top: calc(50% - 11px);
    background: url(../../../../jmango360api/views/img/loading.png) center center no-repeat scroll transparent;
    animation: loadingEffect 1s linear infinite;
    display: none;
}
.pres-qs-forgot-password .login-box .login-form button.btnSubmit:hover {
    background: #258cd1;
}
.pres-qs-forgot-password .login-box .login-form button.btnSubmit.loading:hover {
    background: #3498db;
}
.pres-qs-forgot-password .login-box .login-form button.btnSubmit.loading .text {
    opacity: 0;
}
.pres-qs-forgot-password .login-box .login-form button.btnSubmit.loading:before {
    display: block;
}
.pres-qs-forgot-password .login-box .login-form .btnCancel {
    border: 1px solid #E4E5E7;
    background: #F7F9FA;
    padding: 0 18px;
    height: 39px;
    line-height: 37px;
    font-size: 14px;
    color: #727173;
    border-radius: 3px;
    float: left;
    text-decoration: none;
}
.pres-qs-forgot-password .login-box .login-form .btnCancel:hover {
    background: #e7edf0;
}
@-webkit-keyframes loadingEffect {
    from {
        -webkit-transform: rotate(0);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes loadingEffect {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
