/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Aug 22, 2018, 1:16:17 PM
    Author     : rjain
*/
.free-disabled:hover{
   opacity:0.3 !important;
   cursor: not-allowed !important;
   
}

